body{
	background-color: lightblue;
  margin: 2px;
}
img {
  border-radius: 50%;
  margin-top: 200px;
  
}
h3{
  margin-left: 75%;
  text-decoration: underline;

}
#wel{
  border-radius: 5%;

margin: 20px;
}
li{
  margin-top:1em;
}
#s{
  position: center;
  border-radius:0%;
  margin-top: 10px;
}

ol{
  color: grey;
  
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
 

 
}

sup {

  font-size: smaller;
}
#mail{
  width:100px;
  border-radius: 5%;
  margin-top: 50px;
}
h5{
  margin-bottom: 50px;
  font-family:   monospace;
}
h4 {
  display: block;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h2{
  margin-right: 0px;
}
